@{
    ViewBag.Title = "Hakkımda";
}
<div class="container">
    <div class="services-holder" style="margin:0px 0px 0px 0px">
        <!-- services-item -->
        <div class="services-item">
            <div class="serv-img lft-img">
                <div class="bg" style="background-image:url(../../Content/images/IMG-20190316-WA0073.jpg)"></div>
            </div>
            <div class="services-box-info rft-info">
                <h4>KISACA BEN</h4>
                <p>Merhaba ben Mustafa Işık 22 yaşındayım. Memleketim Kastamonu, Güngören İstanbulda oturuyorum. Doğuş Üniversitesi Bilgisayar Programcılıgı (%100 burslu) bitirdim. Anadolu Üniversitesinde Yönetim Bilişim Sistemleri bölümünde okuyorum. İŞKUR işbaşı programına katılarak SmartPro Bilgisayar Akademisinde 6 ay boyunca Web ve Mobil Programlama Eğitimi aldım.</p>
                <h4 style="text-decoration:underline">Yazılım Dilleri ve Bilgisayar Programları</h4>
                <ul>
                    <li><span>C#</span></li>
                    <li><span>JAVA</span></li>
                    <li><span>HTML-CSS-JAVASCRİPT</span></li>
                    <li>ASP.NET , MVC , ENTİTY FRAMEWORK</li>
                    <li>MS SQL SERVER , T-SQL</li>
                    <li><a href="/Egitim/Egitim" class="ajax">Eğitimlerim bölümüne göz atmak için<img style="width:25px; height:25px" src="~/Content/images/1.jpg" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
