@{
    ViewBag.Title = "Adres/İletişim";
}
<div class="container">
    <div class="services-holder" style="margin:0px 0px 0px 0px">
        <!-- services-item -->
        <div class="services-item">
            <div class="serv-img lft-img">
                <div class="bg">
                    <br /><br />
                    <h2 style="text-align:center">ADRES</h2>
                    <br /><br />
                    <div class="container small-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.229073897993!2d28.875431314914717!3d41.02024402663818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb20ce3d32b1%3A0x91c7f8fb3dc2cc90!2sBalkan+Sokak!5e0!3m2!1str!2str!4v1553621213674" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="services-box-info rft-info">
                <h2 style="text-align:center">İLETİŞİM</h2>
                <ul class="contact-list">
                    <li>
                        <span>Adres</span>
                        <a href="#">SANAYİ MAHALLESİ - BALKAN SOKAK - GÜNGÖREN / İSTANBUL</a>
                    </li>
                    <li>
                        <span>TELEFON</span>
                        <a href="#">0534-225-07-40</a>
                    </li>
                    <li>
                        <span>E-mail </span>
                        <a href="#">mustafaisk6@gmail.com</a>
                    </li>
                </ul>
                <a href="https://mail.google.com/mail/u/0/#inbox" class=" btn anim-button   trans-btn   transition  fl-l showform"><span>BANA ULAŞIN</span><i class="fa fa-eye"></i></a><br /><br />
            </div>
        </div>
    </div>
</div>

@* --- 2. İLETİŞİM SAYFASI--------- 
    <div class="content full-height">
        <div class="wrapper-inner">
            <!--  align-content  -->
            <div class="align-content">

                <div class="container small-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.229073897993!2d28.875431314914717!3d41.02024402663818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabb20ce3d32b1%3A0x91c7f8fb3dc2cc90!2sBalkan+Sokak!5e0!3m2!1str!2str!4v1553621213674" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
        <div class="wrapper-inner">
            <!--  align-content  -->
            <div class="align-content">

                <div class="container small-container">
                    <h3 class="dec-text">İletişim</h3>
                    <ul class="contact-list">
                        <li>
                            <span>Adres</span>
                            <a href="#">SANAYİ MAHALLESİ - BALKAN SOKAK - GÜNGÖREN / İSTANBUL</a>
                        </li>
                        <li>
                            <span>TELEFON</span>
                            <a href="#">0534-225-07-40</a>
                        </li>
                        <li>
                            <span>E-mail </span>
                            <a href="#">mustafaisk6@gmail.com</a>
                        </li>
                    </ul>
                    <a href="https://mail.google.com/mail/u/0/#inbox" class=" btn anim-button   trans-btn   transition  fl-l showform"><span>BANA ULAŞIN</span><i class="fa fa-eye"></i></a><br /><br />
                </div>
                <ul style="text-align:left">
                    <li style="text-align:left"><a href="https://www.facebook.com/profile.php?id=100001741393922" target="_blank"><h4>Facebook <img style="width:30px; height:30px" src="~/Content/images/face.jpg" /></h4></a></li>
                    <li style="text-align:left"><a href="https://www.facebook.com/profile.php?id=100001741393922" target="_blank"><h4>Twitter<img style="width:30px; height:30px" src="~/Content/images/tw.jpg" /></h4></a></li>
                    <li style="text-align:left"><a href="https://www.instagram.com/mustafamisik/" target="_blank"><h4>İnstagram&nbsp;&nbsp;&nbsp;<img style="width:30px; height:30px" src="~/Content/images/ins.jpg" /></h4></a></li>
                    <li style="text-align:left"><a href="https://www.linkedin.com/in/mustafa-i%C5%9F%C4%B1k-b4674a172/" target="_blank"><h4>Linkedin <img style="width:30px; height:30px" src="~/Content/images/link.jpg" /></h4></a></li>
                </ul>
            </div>
        </div>
    </div>*@