
@{
    ViewBag.Title = "a";
}
<div class="resize-carousel-holder vis-info">
        <!--  full-width-slider-holder-->
        <div class="full-width-slider-holder">
            <!--  full-width-slider -->
            <div class="full-width-slider owl_carousel">
                <!-- 1-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/IMG-20190316-WA0060.jpg)"></div>
                    <div class="zoomimage"><img src="~/Content/images/IMG-20190316-WA0060.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                    <div class="show-info">
                        <span>Info</span>
                        <div class="tooltip-info">
                            <h5>Nulla blandit</h5>
                            <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed non nisi viverra </p>
                        </div>
                    </div>
                </div>
                <!-- 1 end-->
                <!-- 2-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/profilePicTumb.jpg)"></div>
                    <div class="zoomimage"><img src="~/Content/images/profilePicTumb.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                    <div class="show-info">
                        <span>Info</span>
                        <div class="tooltip-info">
                            <h5>Nulla blandit</h5>
                            <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed non nisi viverra </p>
                        </div>
                    </div>
                </div>
                <!-- 2 end-->
                <!-- 3 -->      
                <!-- 3 end -->
                <!-- 4-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/IMG-20190316-WA0073.jpg)"></div>
                    <div class="zoomimage"><img src="~/Content/images/IMG-20190316-WA0073.jpg" class="intense" alt=""><i class="fa fa-expand"></i></div>
                  
                </div>
                <!-- 4 end-->
            </div>
            <!--  full-width-slider end -->
            <!--  navigation -->
            <div class="customNavigation">
                <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
            </div>
            <!--  navigation end-->
        </div>
        <!--  full-width-slider-holder end -->
    </div>
    <!-- resize-carousel-holder end -->
