@{
    ViewBag.Title = "Anasayfa";
}
<div class="container">
    @*<h1 style="color:black; text-decoration:underline">HOŞGELDİNİZ</h1>*@
    <div class="services-holder" style="margin:0px 0px 0px 0px">
        <!-- services-item -->
        <div class="services-item">
            <div class="serv-img lft-img">
                <div class="bg" style="background-image:url(../../Content/images/IMG-20190316-WA00601.jpg)">
                    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                </div>
                <br />
            </div>
            <div class="services-box-info rft-info">
                <h4>MUSTAFA IŞIK</h4>
                <p><b>BENİ TANIMAK İSTER MİSİNİZ  ?</b></p>
                <ul>
                    <li>
                        <a href="/Hakkımda/Hakkımda" class="ajax">
                            HAKKIMDA
                            <img style="width:25px; height:25px" src="~/Content/images/1.jpg" />
                        </a>
                    </li>
                    <li><a href="/Egitim/Egitim" class="ajax">EĞİTİM<img style="width:25px; height:25px" src="~/Content/images/1.jpg" /></a></li>
                    <li><a href="/Proje/Proje" class="ajax">PROJELERİM<img style="width:25px; height:25px" src="~/Content/images/1.jpg" /></a></li>
                    <li><a href="/İletisim/İletisim" class="ajax">ADRES / İLETİŞİM<img style="width:25px; height:25px" src="~/Content/images/1.jpg" /></a></li>
                    <li>
                        <div class="banner-matter">
                            <a href="~/cv/Mustafa IŞIK.docx" class="down">CV İNDİR<img style="width:25px; height:25px" src="~/Content/images/1.jpg" /></a>
                        </div>
                    </li>
                </ul>
                <br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>