@{
    ViewBag.Title = "Proje";
}
<!--  Content -->
<div class="content full-height">
    <!--  fixed-info-container -->
    <div class="fixed-info-container">
        <!--  content-nav -->
        <div class="content-nav">
            <ul>
                <li><a href="portfolio-single2.html" class="ajax ln"><i class="fa fa fa-angle-left"></i></a></li>
                <li>
                    <div class="list">
                        <a href="portfolio.html" class="ajax">
                            <span>
                                <i class="b1 c1"></i><i class="b1 c2"></i><i class="b1 c3"></i>
                                <i class="b2 c1"></i><i class="b2 c2"></i><i class="b2 c3"></i>
                                <i class="b3 c1"></i><i class="b3 c2"></i><i class="b3 c3"></i>
                            </span>
                        </a>
                    </div>
                </li>
                <li><a href="portfolio-single3.html" class="ajax rn"><i class="fa fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <!--  content-nav end -->
        <h3>Proje Başlığı</h3>
        <div class="separator"></div>
        <div class="clearfix"></div>
        <p>Proje İcerigi</p>
        <h4>Bilgiler</h4>
        <ul class="project-details">
            <li><span>Tarih :</span> 31.03.2019</li>
            <li><span>PROJE :</span>Kişisel Web Sayfası</li>
        </ul>
        <a href="#" class=" btn anim-button   trans-btn   transition  fl-l" target="_blank"><span>PROJEYİ GÖSTER</span><i class="fa fa-eye"></i></a>
    </div>
    <!--  content-nav end -->
    <!-- resize-carousel-holder -->
    <div class="resize-carousel-holder vis-info">
        <!--  full-width-slider-holder-->
        <div class="full-width-slider-holder">
            <!--  full-width-slider -->
            <div class="full-width-slider owl_carousel">
                <!-- 1-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/MUSTAFA_ANASAYFA.png)"></div>
                    <div class="zoomimage"><img src="~/Content/images/MUSTAFA_ANASAYFA.png" class="intense" alt=""><i class="fa fa-expand"></i></div>
                    <div class="show-info">
                        <span>BİLGİ</span>
                        <div class="tooltip-info">
                            <h5>Ana Sayfa Bölümü</h5>
                         <p>Web sayfasının açılış ve ana sayfasıdır. Sayfada ilk görülen yer oldugundan açık ve net olmalıdır. Diğer sayfalara geçiş daha kolay olmalıdır.</p>
                        </div>
                    </div>
                </div>
                <!-- 1 end-->
                <!-- 2-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/MUSTAFA_HAKKIMDA.png)"></div>
                    <div class="zoomimage"><img src="~/Content/images/MUSTAFA_HAKKIMDA.png" class="intense" alt=""><i class="fa fa-expand"></i></div>
                    <div class="show-info">
                        <span>BİLGİ</span>
                        <div class="tooltip-info">
                            <h5>Hakkımda Bölümü</h5>
                            <p>
                                Hakkımda bölümünde kendimizi biraz tanıtmak ve profesyonel olduğumuz konulardan bahsetmemiz gereklidir.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 2 end-->
              @*  <!-- 3 -->
                <div class="item">
                    <div class="ifarme-fwh-holder">
                        <iframe src="https://player.vimeo.com/video/143356883"></iframe>
                    </div>
                </div> *@
                <!-- 3 end -->
                <!-- 4-->
                <div class="item">
                    <div class="bg bg-slider" style="background-image:url(../../Content/images/MUSTAFA_EĞİTİM3.png)"></div>
                    <div class="zoomimage"><img src="~/Content/images/MUSTAFA_EĞİTİM3.png" class="intense" alt=""><i class="fa fa-expand"></i></div>
                    <div class="show-info">
                        <span>BİLGİ</span>
                        <div class="tooltip-info">
                            <h5>Eğitim Bölümü</h5>
                            <p>Eğitim ile bilgilerimizi ve </p>
                        </div>
                    </div>
                </div>
                <!-- 4 end-->
            </div>
            <!--  full-width-slider end -->
            <!--  navigation -->
            <div class="customNavigation">
                <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
            </div>
            <!--  navigation end-->
        </div>
        <!--  full-width-slider-holder end -->
    </div>
    <!-- resize-carousel-holder end -->
</div>
