@{
    ViewBag.Title = "Eğitim";
}
<html>
<head>
</head>
<body style="background-color:black">

    <div class="container">
        <div class="services-holder">
            <h3 style="text-decoration:underline; color:white"><b>YAZILIM EĞİTİMİ</b></h3><br />
            <div class="services-item">
                <div class="serv-img rft-img">
                    <div class="bg" style="background-image:url(../../Content/images/eg.jpg)"></div>
                </div>
                <div class="services-box-info lft-info">
                    <h4><b>SMARTPRO BİLGİSAYAR AKADEMİSİ</b></h4>
                    <br /><br />
                    <h5 style="text-decoration:underline"><b>WEB VE MOBİL PROGRAMCILIĞI</b></h5>
                    <p>Üniversite eğitimimi bitirdikten sonra kariyerime tecrübeli başlamak için bu kursa gitme tercihinde bulundum. Kurs boyunca aldığım eğitim ve yaptığım projelerle kendimi geliştirdim.</p><br />
                    <h5 style="text-decoration:underline"><b>EDİNDİGİM BİLGİLER</b></h5>
                    <ul>
                        <li><span>C# , .NET</span></li>
                        <li><span>ASP.NET , MVC , ENTİTY FRAMEWORK</span></li>
                        <li><span>HTML-CSS-JAVASCRİPT</span></li>
                        <li><span>MS SQL SERVER , ADO.NET</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="services-holder">
            <!-- services-item -->
            <h3 style="text-decoration:underline; color:white"><b>LİSANS EĞİTİMİ</b></h3><br />
            <div class="services-item">
                <div class="serv-img lft-img">
                    <div class="bg" style="background-image:url(../../Content/images/eğitim2.jpg)"></div>
                </div>
                <div class="services-box-info rft-info">
                    <h4><b>ANADOLU ÜNİVERSİTESİ</b></h4>
                    <h5 style="text-decoration:underline"><b>YÖNETİM BİLİŞİM SİSTEMLERİ</b></h5>
                    <p>Lisans eğitimimi tamamlamak için ve bana faydalı olucagını düşündügümden bu bölümü seçtim.</p><br />
                    <br /><br />
                    <h5 style="text-decoration:underline"><b>EDİNDİGİM BİLGİLER</b></h5>
                    <ul>
                        <li><span>JAVA</span></li>
                        <li><span>AĞ YAPILARI</span></li>
                        <li><span>MS SQL</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="services-holder">
            <h3 style="text-decoration:underline; color:white"><b>ÖNLİSANS EĞİTİMİ</b></h3><br />
            <div class="services-item">
                <div class="serv-img rft-img">
                    <div class="bg" style="background-image:url(../../Content/images/egitim1.jpg)"></div>
                </div>
                <div class="services-box-info lft-info">
                    <h4>DOĞUŞ ÜNİVERSİTESİ</h4><br /><br />
                    <h5 style="text-decoration:underline"><b>BİLGİSAYAR PROGRAMCILIGI</b></h5><br /><br />
                    <p>Lise eğitimimden sonra yazılıma yönelmeyi planlamıştım. Bu plan ile Tam Burslu şekilde üniversiteyi kazandıktan sonra bu bölümde okumaya başladım. İlk zamanlar zor gelsede lise temelim oldugu için çok zorlanmadan bölümü bitirmeyi başardım. Tez ödevimde ise Kütüphane Otomasyon Sistemi yapmıştım.</p>
                    <br />
                    <h5 style="text-decoration:underline"><b>EDİNDİGİM BİLGİLER</b></h5>
                    <ul>
                        <li><span>C# , VİSUAL BASİC</span></li>
                        <li><span>JAVA , C++</span></li>
                        <li><span>MS SQL</span></li>
                        <li><span>Adobe After Effect , Photoshop</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="services-holder">
            <h3 style="text-decoration:underline; color:white">LİSE EĞİTİMİ</h3><br />
            <br />
            <!-- services-item -->
            <div class="services-item">
                <div class="serv-img lft-img">
                    <div class="bg" style="background-image:url(../../Content/images/egitim.jpg)"></div>
                </div>
                <div class="services-box-info rft-info">
                    <h4>BAHCELİEVLER ERKAN AVCI ATL.</h4><br />
                    <h5 style="text-decoration:underline"><b>WEB TASARIM</b></h5><br /><br />
                    <p>Yazılım ile ilk tanışmam diyebilirim ve günümüzdeki gibi gelişmemiş olan yazılımı merak ediyordum. Merak,Araştırma derken kendimi bu bölümde bulmuştum. İlk zamanlar zorlansamda yazılımı severek ögrenmeye başlamıştım. Ve yazılıma ilk adımım oldu.</p>
                    <h5 style="text-decoration:underline"><b>EDİNDİGİM BİLGİLER</b></h5>
                    <ul>
                        <li><span>C#</span></li>
                        <li><span>PHP</span></li>
                        <li><span>HTML</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>
</html>